@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --color-blue1: #6cb2f3;
  --color-orange: #eb6c31;
  --color-orange2: #ffe7bb;
  --color-text: #004992;
  --color-text2: #6cb2f3;
  --color-text3: #f3a540;
  --color-subtext: #00cfff;
  --font-family: "Manrope";
}
