@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(
    90deg,
    rgba(97, 255, 120, 1) 0%,
    rgba(0, 207, 255, 1) 100%
  );
  --gradient-bar: linear-gradient(
    90deg,
    rgba(97, 255, 120, 1) 0%,
    rgba(0, 207, 255, 1) 100%
  );

  --color-blue1: #6cb2f3;
  --color-orange: #eb6c31;
  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #004992;
  --color-text2: #6cb2f3;
  --color-text3: #f3a540;
  --color-subtext: #00cfff;
}

body {
  font-family: var(--font-family);
  font-weight: 700;
  /*background-color: var(--color-bg);*/
  margin: 0;
  padding: 0;
  color: var(--color-text);
}
